@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white dark:bg-zinc-950 text-gray-900 dark:text-gray-200 bg-[url('~/assets/images/gradient-background.svg')] bg-no-repeat bg-left-top;
    }
}